.header {
  padding-top: 25px;
}
.header__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 390px;
  background: no-repeat right center url("../img/startup.png");
}
.header__top p:nth-child(1) {
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 60px;
  color: #104599;
}
.header__top p:nth-child(2) {
  padding: 0;
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  color: #104599;
}
.header__bottom {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__bottom__item {
  width: 370px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.header__bottom__item p {
  width: 270px;
  margin-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #313131;
}
.header__bottom__item:nth-child(1) img {
  width: 53px;
  height: 65px;
}
.header__bottom__item:nth-child(2) img {
  width: 70px;
  height: 70px;
}
.header__bottom__item:nth-child(3) img {
  width: 69px;
  height: 48px;
}

.section1-2 {
  margin-top: 150px;
}
.section1-2__header {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 54px;
  color: #104599;
}
.section1-2__list {
  height: 460px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.section1-2__list__item {
  background: no-repeat top left url("../img/check.png");
  width: 570px;
  margin-right: 30px;
  margin-top: 10px;
  padding-left: 100px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #313131;
}

.section2__content .content2 {
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section2__content .content2__2 {
  margin-top: 30px;
}
.section2__content .content2 img {
  width: 100px;
}

.section3-1 {
  margin-top: 150px;
}
.section3-1__header {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 54px;
  color: #104599;
}
.section3-1__bottom {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section3-1__bottom__item {
  width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.section3-1__bottom__item p {
  width: 270px;
  margin-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #313131;
}
.section3-1__bottom__item:nth-child(1) img {
  width: 70px;
  height: 50px;
}
.section3-1__bottom__item:nth-child(2) img {
  width: 70px;
  height: 66px;
}
.section3-1__bottom__item:nth-child(3) img {
  width: 70px;
  height: 70px;
}

.section4-1 {
  margin-top: 150px;
}
.section4-1__header {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 40px;
  line-height: 54px;
  color: #104599;
}
.section4-1__content {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section4-1__content__item {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
  background: #E9E9E9;
  width: 270px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section4-1__content__item p {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #313131;
}
.section4-1__content__item:before {
  content: "";
  width: 130px;
  height: 2px;
  background: #104599;
  position: absolute;
  top: 22px;
  margin: 0;
}

.section9 {
  margin-top: 65px;
}

.section13 {
  margin-top: 60px;
}

@media (max-width: 1170px) {
  .header {
    padding-top: 72px;
  }
  .header__top {
    height: 246px;
    background-size: 360px 246px;
  }
  .header__top p:nth-child(1) {
    font-size: 31px;
    line-height: 36px;
  }
  .header__top p:nth-child(2) {
    margin-top: 20px;
    font-size: 24px;
    line-height: 33px;
  }
  .header__bottom {
    margin-top: 30px;
  }
  .header__bottom__item {
    width: 230px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header__bottom__item p {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    font-size: 14px;
    line-height: 19px;
  }
  .header__bottom__item:nth-child(1) img {
    width: 40px;
    height: 49px;
  }
  .header__bottom__item:nth-child(2) img {
    width: 50px;
    height: 50px;
  }
  .header__bottom__item:nth-child(3) img {
    width: 50px;
    height: 35px;
  }
  .header__bottom__item:nth-child(3) p {
    margin-top: 35px;
  }

  .section1-2 {
    margin-top: 100px;
  }
  .section1-2__header {
    font-size: 30px;
    line-height: 41px;
  }
  .section1-2__list {
    height: 450px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .section1-2__list__item {
    width: 360px;
    margin-right: 30px;
    margin-top: 10px;
    padding-left: 70px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 19px;
  }

  .section2__content .content2 {
    padding: 0 23px;
  }
  .section2__content .content2 img {
    width: 76px;
  }

  .section3-1 {
    margin-top: 100px;
  }
  .section3-1__header {
    font-size: 30px;
    line-height: 41px;
  }
  .section3-1__bottom {
    margin-top: 30px;
  }
  .section3-1__bottom__item {
    width: 230px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .section3-1__bottom__item p {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    font-size: 14px;
    line-height: 19px;
  }
  .section3-1__bottom__item:nth-child(1) img {
    width: 50px;
    height: 36px;
  }
  .section3-1__bottom__item:nth-child(1) p {
    margin-top: 21.59px;
  }
  .section3-1__bottom__item:nth-child(2) img {
    width: 40px;
    height: 38px;
  }
  .section3-1__bottom__item:nth-child(2) p {
    margin-top: 20px;
  }
  .section3-1__bottom__item:nth-child(3) img {
    width: 38px;
    height: 39px;
  }
  .section3-1__bottom__item:nth-child(3) p {
    margin-top: 19px;
  }

  .section4-1 {
    margin-top: 70px;
  }
  .section4-1__header {
    font-size: 30px;
    line-height: 41px;
  }
  .section4-1__content {
    margin-top: 30px;
    flex-wrap: wrap;
  }
  .section4-1__content__item {
    padding-left: 20px;
    padding-right: 20px;
    width: 362px;
    height: 225px;
    margin-bottom: 20px;
  }
}
@media (max-width: 750px) {
  .header {
    padding: 0;
  }
  .header__top {
    height: auto;
    background: none;
  }
  .header__top p:nth-child(1) {
    margin-top: 81px;
  }
  .header__top p:nth-child(2) {
    margin-top: 70px;
  }
  .header__bottom {
    margin-top: 30px;
    flex-direction: column;
  }
  .header__bottom__item {
    margin-bottom: 40px;
    width: 360px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: normal;
  }
  .header__bottom__item p {
    margin-top: 0;
    margin-left: 50px;
    font-size: 14px;
    line-height: 19px;
  }
  .header__bottom__item:nth-child(3) p {
    margin-top: 0;
  }
  .header__bottom__item:nth-child(1) p {
    margin-left: 59px;
  }

  .section1-2 {
    margin-top: 30px;
  }
  .section1-2__header {
    text-align: center;
    font-size: 24px;
    line-height: 33px;
  }
  .section1-2__list {
    height: auto;
    flex-wrap: nowrap;
  }

  .section3-1 {
    margin-top: 70px;
  }
  .section3-1__bottom {
    margin-top: 30px;
    flex-direction: column;
  }
  .section3-1__bottom__item {
    margin-bottom: 40px;
    width: 360px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: normal;
  }
  .section3-1__bottom__item p {
    margin-top: 0;
    margin-left: 50px;
    font-size: 14px;
    line-height: 19px;
  }
  .section3-1__bottom__item:nth-child(1) p {
    margin-top: 0;
    margin-left: 47px;
  }
  .section3-1__bottom__item:nth-child(2) p {
    margin-top: 0;
    margin-left: 57px;
  }
  .section3-1__bottom__item:nth-child(3) p {
    margin-top: 0;
    margin-left: 59px;
  }

  .section4-1 {
    margin-top: 30px;
  }
  .section4-1__header {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
  }
}

/*# sourceMappingURL=startup.css.map */
